#StartButton {
    font-family: 'Libre Franklin', sans-serif;
    padding: 0 15px 0 10px;
    cursor: pointer;
    height: 100%;
    border: none;
    border-radius: 90% 10% 10% 90% / 0 50% 50% 0;
    background: linear-gradient(180deg,
            rgba(125, 204, 123, 1) 7%,
            rgba(67, 174, 70, 1) 22%,
            rgba(59, 192, 51, 1) 100%);
    box-shadow: inset 0 0 10px -3px #000000;
    color: white;

    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    text-shadow: #0d0d0d 1px 1px 2px;

    &:hover {
        filter: brightness(1.1);
    }

    &:active {
        filter: brightness(0.9);
    }
}