* {
    margin: 0;
    padding: 0;
}

body {
    background: green url('../static/images/windowsXP/windows-wallpaper.jpeg') no-repeat center;
    background-size: cover;
    
    height: 100vh;
    overflow: hidden;
}